#div_p1 {
    text-align:center;
}
#div_input {

    text-align:center;
    margin-top: 70px;
}

#start_input{
    border-style: solid;
    text-align:center;
    background-color: bisque;
    width: 25%;
    height: 70px;

}


#background {
    background-color: #23aaff;
    background-size: 100% 100%;
    height: 100%;
    position: fixed;
    width: 100%
}